services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: aunless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    image: pratik50/dd-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/dd_db
    depends_on:
      - mongodb

  frontend:
    image: pratik50/dd-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data: